[server default]
manager_log=/var/log/mha.log
manager_workdir=/var/lib/mha

user=root
password=toor

repl_user=repl
repl_password=lper

ssh_user=root

ping_interval=1
remote_workdir=/var/lib/mha
master_ip_failover_script=/usr/local/bin/master_ip_failover

[server5]
candidate_master=1
hostname=192.168.1.5

[server40]
candidate_master=1
hostname=192.168.1.40

[server80]
hostname=192.168.1.80
no_master=1

[server115]
hostname=192.168.1.115
no_master=1

[server144]
hostname=192.168.1.144
no_master=1

[server250]
hostname=192.168.1.250
no_master=1
